html,body {
    height: 1000px;
}

.box1 {
    padding:4px 16px 24px 34px;
    margin: 4px 16px 24px 34px;
    border: 5px solid black;
    height: 30%;
    width: 46%;
    margin:0px;
    display: inline-block;
}

.box2  {
    padding:4px 16px 24px 34px;
    margin: 4px 16px 24px 34px;
    border: 5px solid red;
    height: 50%;
    width: 30%;
    display: inline-block;
}


div:last-of-chid:hover {
    color:green;
}